@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffde40;
  background-color: #171725;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 18px;
}

p.sub {
  color: dimgrey;
  font-size: 10px;
  margin-top: 10px;
}

p.main {
  color: grey;
  font-size: 15px;
  margin: 7px 0;
}

.subtitle {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  width: min-content;
  border-bottom: 3px solid #ffde40;
}

.header {
  display: flex;
  height: 100vh;
  transition: ease-in 0.5s;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-evenly;
  list-style: none;
}

.nav-items .brand {
  display: flex;
  justify-content: space-between;
}

.nav-items .brand h1 {
  cursor: pointer;
  font-size: 30px;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  letter-spacing: 1.2px;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.nav-items.items ul {
  cursor: pointer;
  display: flex;
  list-style: none;
}

.nav-items.items ul li a {
  text-decoration: none;
  color: #ffde40;
  width: 100px;
  margin: 1px;
  padding: 3px;
  align-self: center;
  display: flex;
  justify-content: center;
  transition: ease-in 0.3s;
  font-size: 20px;
}

.nav-items.items ul li a:hover {
  background-color: #ffde40;
  color: #171725;
  border-radius: 3px;
}

.header {
  width: 1080px;
  margin: 0 auto;
}

.header-body {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.header-body .download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download_phrase {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

.download_phrase h2:first-child {
  font-weight: 100;
  text-align: center;
}

.download_button {
  display: flex;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ffde40;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
}

.download_button-icon {
  padding: 0 10px;
  margin-right: 10px;
  font-size: 25px;
  border-right: 1px solid #ffde40;
}

.download_button:hover .download_button-icon {
  border-right: 1px solid #171725;
}

.download_button:hover {
  background-color: #ffde40;
  color: #171725;
  cursor: pointer;
}

.header-body_mockup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header-body_mockup img {
  width: 700px;
}

.features {
  height: 100vh;
  width: 1080px;
  margin: 0 auto;
  background-image: linear-gradient(to top, aliceblue 50%, #171725 50%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.features_card {
  display: flex;
  background-color: #171725;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 350px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
}

.features_card-body {
  background-color: aliceblue;
  width: 100%;
  flex: 1;
  color: black;
  padding: 10px;
}

.features_card-summary {
  color: rgb(87, 87, 87);
  margin-bottom: 10px;
}

.features_card-image img {
  width: 240px;
}

.footer {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer_body {
  height: 90%;
  display: flex;
}

#download {
  height: 100vh;
}

#download .download {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65%;
  border-bottom: 1px solid;
  margin: 20px auto;
}

.download div p {
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
  text-align: center;
  font-weight: 300;
  color: #c9c9c9;
  padding: 8px;
}

th a,
th .download_button-icon {
  border: none;
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #171725;
}

.footer_body-support {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
}

.footer_body-support form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_body-support textarea {
  width: 20rem;
  margin: 10px 0;
}

.footer_body-support Button {
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #ffde40;
}

.footer_body-support div {
  margin-bottom: 20px;
}

.footer_body-support .donations {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 20px 0;
  max-width: 400px;
  font-weight: bold;
  text-align: center;
}

.footer_body-support .donations div {
  display: flex;
  height: 100%;
  padding-top: 10px;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

.footer_bar {
  color: #171725;
  background-color: #ffde40;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.footer_bar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.footer_bar ul li a {
  padding: 0 8px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  align-self: center;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
}

.footer_bar ul li a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header {
    width: auto;
    height: auto;
  }

  .header nav ul li:first-child * {
    align-self: center;
    font-size: 70px;
  }

  nav ul li:last-child {
    display: none;
  }

  .header .header-body {
    flex-direction: column;
  }

  .header-body_mockup div {
    text-align: center;
  }

  .header .header-body img {
    width: 80%;
  }

  .features {
    flex-direction: column;
    height: auto;
  }
  /* Change in the Feature */
  .features_card {
    width: 290px;
    margin: 10px 20px;
  }

  #download {
    height: auto;
    max-width: none;
    margin: 0 auto;
  }

  #download .download {
    max-width: 90%;
  }

  .footer {
    width: auto;
    height: auto;
  }

  .footer_body-support {
    align-self: center;
  }

  .footer_bar {
    flex-direction: column;
  }
}
